<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %}DiktaPlus Admin Inteface{% endblock %}
    </title>

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/simple-sidebar.css') }}" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    {% block sidebar %}
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="{{ path('home') }}">Diktaplus Admin Interface</a></li>
                {% if app.user %}
                    {% if app.user %}
                        <li>Logged in as: {{ app.user }}</li>
                    {% endif %}
                    <li><a href="{{ path('texts') }}">Texts management</a></li>
                    <li><a href="{{ path('users') }}">Users management</a></li>
                    <li><a href="{{ path('signup') }}">Signup a new admin</a></li>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}

    <div id="page-content-wrapper">
        <a type="button" class="btn btn-info" id="menu-toggle" style="margin-right: 10px;">Show/hide sidebar</a>
        {% for message in app.session.flashbag().get('info') %}{{ message }}{% endfor %}
        <div style="margin-top:15px;">
            {% if app.user %}{% block content %}{% endblock %}{% endif %}
        </div>
    </div>
</div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>