<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}DiktaPlus Admin Inteface{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>

<div id="wrapper">
    {% block sidebar %}
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{{ path('homepage') }}">
                        Diktaplus Admin Interface
                    </a>
                </li>

                {% if app.user %}
                    {% if app.user %}
                        <li>Logged in as: {{ app.user }}</li>
                    {% endif %}
                    <li>
                        <a href="{{ path('texts') }}">
                            Texts management
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('users') }}">
                            Users management
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('signup') }}">
                            Signup a new admin
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('logout') }}">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('login') }}">
                            Login
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    {% endblock %}


    <!-- Page Content -->
    <div id="page-content-wrapper">
        <a type="button" class="btn btn-info" id="menu-toggle" style="margin-right: 10px;">Show/hide sidebar</a>
        {% for message in app.session.flashbag().get('info') %}
                {{ message }}
        {% endfor %}
        <div style="margin-top:15px;">
            {% if app.user  %}
            {% block content %}{% endblock %}
            {% endif %}
        </div>
    </div>
</div>
<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
