{% extends 'base.html.twig' %}

{% block toolbar %}
    <a type="button" href="{{ path('texts_add') }}" class="btn btn-success">Add text</a>
    <ul class="pagination pull-right">
        {% for i in 1..pagesCount %}
            <li {% if i == actualPage %} class="active" {% endif %} ><a href="{{ path('texts', {'page': i}) }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Difficulty</th>
                <th>Language</th>
                <th>Title</th>
                <th>Content</th>
                <th width="15%">Options</th>
            </tr>
            </thead>
            <tbody>
            {% for text in texts %}
                <tr>
                    <td>{{ text.id }}</td>
                    <td>{{ text.difficulty }}</td>
                    <td>{{ text.language }}</td>
                    <td>{{ text.title }}</td>
                    <td>{{ text.content }}</td>
                    <td><a href="{{ path('texts_edit', { 'id': text.id }) }}" class="btn btn-warning">Edit</a>
                        <a href="{{ path('texts_delete', { 'id': text.id }) }}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}