{% extends 'layout.html.twig' %}
{% block content %}
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Difficulty</th>
            <th>Language</th>
            <th>Content</th>
            <th>Operation</th>
        </tr>
    {% for text in texts %}
        <tr>
            <td>{{ text.id }}</td>
            <td>{{ text.difficulty }}</td>
            <td>{{ text.language }}</td>
            <td>{{ text.content }}</td>
            <td><a href="{{ path('texts_edit', { 'id': text.id }) }}" class="btn btn-warning">Edit</a>
            <a href="{{ path('texts_delete', { 'id': text.id }) }}" class="btn btn-danger">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
    <a type="button" href="{{ path('texts_add') }}" class="btn btn-success">Add text</a>

{% endblock %}